{% load static %}

<div class="widget recent-post">
    <h5 class="widget-title">پست اخیر</h5>

    {% for blog in blogs %}
        <div class="recent-post-item">

            <div class="recent-post-img">
                <a href="{% url 'app_blog:blog_single' blog.id %}">
                    <img src="{{ blog.image.url }}">
                </a>
            </div>

            <div class="recent-post-bio">
                <h6>
                    <a href="#">
                        {{ blog.title_fa|truncatechars:25 }}
                    </a>
                </h6>

                <span>
                <i class="far fa-clock"></i>
                {{ blog.publish_date_fa }}
            </span>
            </div>

        </div>
    {% endfor %}

</div>
