{% load static %}

<div class="widget recent-post">

    <h5 class="widget-title">Latest Articles</h5>

    {% for post in blogs %}

        <div class="recent-post-item">

            <div class="recent-post-img">

                <a href="{% url 'app_blog:blog_single_en' post.id %}">

                    <img
                        src="{{ post.image.url }}"
                        alt="{{ post.title_en }}"
                    >

                </a>

            </div>


            <div class="recent-post-bio">

                <h6>

                    <a href="{% url 'app_blog:blog_single_en' post.id %}">

                        {{ post.title_en|truncatechars:25 }}

                    </a>

                </h6>


                <span>

                    <i class="far fa-clock"></i>

                    {{ post.publish_date_en }}

                </span>

            </div>

        </div>

    {% endfor %}

</div>