{% extends 'RTL/core/base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

    <main class="main">
        <!-- breadcrumb -->
        <div class="site-breadcrumb">
            <div class="site-breadcrumb-bg" style="background: url('{{ banner.image.url }}')">
            </div>
            <div class="container">
                <div class="site-breadcrumb-wrap">
                    <h4 class="breadcrumb-title">
                        مقاله
                    </h4>
                    <ul class="breadcrumb-menu">
                        <li>
                            <a href="{% url 'app_core:home' %}">
                                <i class="far fa-home">
                                </i>
                                خانه
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'app_blog:blog_home' %}">
                                <i class="far">
                                </i>
                                کلیه مقالات ها
                            </a>
                        </li>
                        <li class="active">{{ blog.title_fa }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->
        <!-- blog area -->
        <div class="blog-area py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-single-wrap">
                            <div class="blog-single-content">
                                <div class="blog-thumb-img">
                                    <img alt="thumb" src="{{ blog.image.url }}"/>
                                </div>
                                <div class="blog-info">
                                    <div class="blog-meta">
                                        <div class="blog-meta-left">
                                            <ul>
                                                <li>
                                                    <i class="far fa-user">
                                                    </i>
                                                    <a href="#">
                                                        {% if blog.author and blog.author.first_name or blog.author.last_name %}
                                                            {{ blog.author.first_name }} {{ blog.author.last_name }}
                                                        {% else %}
                                                            {{ site_info.name_company_p1_fa }}
                                                            {{ site_info.name_company_p2_fa }}
                                                        {% endif %}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="blog-details">
                                        <h3 class="blog-details-title mb-20">{{ blog.title_fa }}</h3>
                                        <p class="mb-10">{{ blog.content_1_fa }}
                                        </p>
                                        <p class="mb-10">
                                            {{ blog.content_2_fa }}

                                        </p>
                                        {% if blog.images.all %}
                                            <div class="blog-author">

                                                <!-- عنوان بالای گالری -->
                                                <h5 class="mb-3" style="display:block; width:100%; clear:both;">
                                                    عکس‌ها:
                                                </h5>

                                                <!-- گالری تصاویر -->
                                                <div class="row g-4 popup-gallery">
                                                    {% for img in blog.images.all %}
                                                        <div class="col-md-4 col-lg-3">
                                                            <div class="gallery-item wow fadeInUp"
                                                                 data-wow-delay=".25s">
                                                                <div class="gallery-img">
                                                                    <img alt="{{ img.caption }}"
                                                                         src="{{ img.image.url }}"/>
                                                                    <a class="popup-img gallery-link"
                                                                       href="{{ img.image.url }}">
                                                                        <i class="fal fa-plus"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                            </div>
                                        {% endif %}

                                        {% if blog.upload_file %}
                                            <blockquote class="blockqoute">
                                                <h6 class="blockqoute-author">
                                                    <a href="{{ blog.upload_file.url }}" download
                                                       class="btn btn-primary">
                                                        📥 دانلود فایل
                                                    </a>
                                                </h6>
                                                <i class="far fa-quote-right"></i>
                                            </blockquote>
                                        {% endif %}

                                        <hr/>
                                        <div class="blog-details-tags pb-20"
                                             style="display: flex; gap: 40px; align-items: center; flex-wrap: wrap;">

                                            <!-- دسته‌بندی -->
                                            <div style="display: flex; align-items: center; gap: 8px;">
                                                <h5 style="margin: 0;">دسته‌بندی:</h5>
                                                <span>{{ blog.category.title_fa }}</span>
                                            </div>

                                            <!-- برچسب‌ها -->
                                            <div style="display: flex; align-items: center; gap: 8px;">
                                                <h5 style="margin: 0;">برچسب‌ها:</h5>

                                                <ul style="margin: 0; padding: 0; list-style: none; display: flex; gap: 10px;">

                                                    {% for tag in blog.tags.all %}
                                                        <li>
                                                            <p>{{ tag.title_fa }}</p>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside class="sidebar">
                            <!-- search-->
                            {% include 'RTL/blog/including/serach.html' %}
                            <!-- category -->
                            {% blog_category_fa %}
                            <!-- recent post -->
                            {% blog_recent_fa %}
                            <!-- Recent Post -->
                            {% blog_tags_fa %}
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog area end -->
    </main>
{% endblock %}
