{% extends 'RTL/core/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <!-- breadcrumb -->
        <div class="site-breadcrumb">
            <div class="site-breadcrumb-bg" style="background: url('{{ banner.image.url }}')">
            </div>
            <div class="container">
                <div class="site-breadcrumb-wrap">
                    <h4 class="breadcrumb-title">تماس با واحد حراست
                    </h4>
                    <ul class="breadcrumb-menu">
                        <li>
                            <a href="{% url 'app_core:home' %}">
                                <i class="far fa-home">
                                </i>
                                خانه
                            </a>
                        </li>
                        <li class="active">
                            واحد حراست
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->
        <!-- contact area -->
        <div class="contact-area pt-100 pb-80">
            <div class="container">
                <div class="contact-wrapper">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="contact-content">
                                <div class="row">
                                    {% if site_info.phone_security_1 or site_info.phone_security_2 or site_info.phone_security_3 %}
                                        <div class="col-md-6">
                                            <div class="contact-info">
                                                <div class="contact-info-icon">
                                                    <i class="fal fa-headset"></i>
                                                </div>
                                                <div class="contact-info-content">
                                                    <h5>
                                                        شماره تماس مستقیم حراست
                                                    </h5>

                                                    {% if site_info.phone_security_1 %}
                                                        <p class="text-center">{{ site_info.phone_security_1 }}</p>
                                                    {% endif %}

                                                    {% if site_info.phone_security_2 %}
                                                        <p class="text-center">{{ site_info.phone_security_2 }}</p>
                                                    {% endif %}

                                                    {% if site_info.phone_security_3 %}
                                                        <p class="text-center">{{ site_info.phone_security_3 }}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if site_info.fax_security %}
                                        <div class="col-md-6">
                                            <div class="contact-info">
                                                <div class="contact-info-icon">
                                                    <i class="fal fa-fax"></i>
                                                </div>
                                                <div class="contact-info-content">
                                                    <h5>
                                                        فکس
                                                    </h5>
                                                    <p class="text-center">{{ site_info.fax_security }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if site_info.email_security %}
                                        <div class="col-md-6">
                                            <div class="contact-info">
                                                <div class="contact-info-icon">
                                                    <i class="fal fa-envelopes"></i>
                                                </div>
                                                <div class="contact-info-content">
                                                    <h5>
                                                        ایمیل حراست
                                                    </h5>
                                                    <p>
                                                        <a href="mailto:{{ site_info.email_security }}">
                                                            {{ site_info.email_security }}
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="contact-form">
                                <div class="contact-form-header">
                                    <h2>
                                        فرم مستقیم به واحد حراست
                                    </h2>
                                    <p>
                                        برای ارتباط با مدیریت حراست خواهشمندیم فرم زیر را تکمیل نمایید.
                                    </p>
                                </div>
                                <form action="{% url 'app_security:security_contact' %}" method="post"
                                      id="contact-form">
                                    {% csrf_token %}

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control"
                                                       name="first_name"
                                                       placeholder="نام شما"
                                                       required
                                                       type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control"
                                                       name="last_name"
                                                       placeholder="نام خانوادگی"
                                                       required
                                                       type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control"
                                                       name="phone"
                                                       placeholder="شماره تماس (الزامی)"
                                                       required
                                                       type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control"
                                                       name="email"
                                                       placeholder="ایمیل شما"
                                                       type="email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input class="form-control"
                                               name="subject"
                                               placeholder="موضوع شما"
                                               required
                                               type="text">
                                    </div>

                                    <div class="form-group">
        <textarea class="form-control"
                  name="message"
                  rows="4"
                  placeholder="پیام خود را بنویسید"
                  required></textarea>
                                    </div>
                                    <!-- CAPTCHA -->

                                    <div class="form-group row">
                                        <div class="col-md-4 mb-2 mb-md-0">
                                            <div class="form-control text-center"
                                                 style="background:#f8f9fa;font-weight:bold;cursor:default">
                                                {{ captcha_code }}
                                            </div>
                                        </div>

                                        <div class="col-md-8">
                                            <input class="form-control"
                                                   name="captcha"
                                                   placeholder="کد امنیتی را وارد کنید"
                                                   required>
                                        </div>
                                    </div>


                                    <button class="theme-btn" type="submit">
                                        ارسال کنید
                                        <i class="far fa-paper-plane"></i>
                                    </button>

                                    <div class="col-md-12 my-3">
                                        <div class="form-messege text-success">
                                            {% if messages %}
                                                {% for message in messages %}
                                                    {{ message }}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end contact area -->
    </main>
{% endblock %}