{% extends 'RTL/core/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <!-- breadcrumb -->
        <div class="site-breadcrumb">
            <div class="site-breadcrumb-bg" style="background: url('{{ banner.image.url }}')">
            </div>
            <div class="container">
                <div class="site-breadcrumb-wrap">
                    <h4 class="breadcrumb-title">
                        رسانه ما
                    </h4>
                    <ul class="breadcrumb-menu">
                        <li>
                            <a href="{% url 'app_core:home' %}">
                                <i class="far fa-home">
                                </i>
                                خانه
                            </a>
                        </li>

                        <li class="active">
                            <a href="{% url 'app_media:home' %}">
                                کلیه رسانه ها
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->
        <!-- blog area -->
        <div class="blog-area py-100">
            <div class="container">

                <div class="row g-4">
                    {% for media in media_sections %}
                        <div class="col-md-6 col-lg-4">
                            <div class="blog-item wow fadeInUp">

                                <!-- poster -->
                                <div class="blog-item-img">
                                    <a href="{% url 'app_media:single' media.id %}">
                                        {% if media.image %}
                                            <img src="{{ media.image.url }}" alt="{{ media.title_fa }}">
                                        {% endif %}
                                    </a>
                                </div>

                                <div class="blog-item-info">

                                    <div style="
                                width: 60px;
                                height: 3px;
                                background: linear-gradient(to right, #ccc, #999);
                                margin-top: 10px;
                                margin-bottom: 10px;
                                border-radius: 2px;
                            "></div>

                                    <h4 class="blog-title">
                                        <a href="{% url 'app_media:single' media.id %}">
                                            {{ media.title_fa }}
                                        </a>
                                    </h4>

                                    {% if media.summary_fa %}
                                        <p>{{ media.summary_fa|truncatechars:120 }}</p>
                                    {% endif %}

                                    <a class="theme-btn" href="{% url 'app_media:single' media.id %}">
                                        مشاهده
                                        <i class="fas fa-arrow-left"></i>
                                    </a>

                                </div>

                            </div>
                        </div>
                    {% empty %}
                        <div class="alert alert-info text-center">
                            اطلاعاتی وارد نشده است
                        </div>
                    {% endfor %}
                </div>

                {% if media_sections.has_other_pages %}
                    <div class="pagination-area mt-60">
                        <ul class="pagination justify-content-center">

                            {% if media_sections.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ media_sections.previous_page_number }}">
                                        <i class="far fa-arrow-right"></i>
                                    </a>
                                </li>
                            {% endif %}

                            {% for i in media_sections.paginator.page_range %}
                                <li class="page-item {% if media_sections.number == i %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endfor %}

                            {% if media_sections.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ media_sections.next_page_number }}">
                                        <i class="far fa-arrow-left"></i>
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>


    </main>
{% endblock %}
